
@{
    ViewBag.Title = "Index";
}
<html>  
    <head>

        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        
        <h2>Index</h2>
        @using (Html.BeginForm())
        {
        <label>Introduzca el Id de la persona... </label> <input type="text" name="id"/><br/>
        <label>Introduzca un nick ...</label> <input type="text" name="nick" /><br />
        <input type="submit" name="boton" value="detail" />

        }


    </body>

</html>


